.Rproj.user
.Rhistory
.RData
testfread/
inst/shinyapps/
localtests/radolan
localtests/params.txt
localtests/params.xlsx
localtests/CreateVignettes/DWDdata/
localtests/CreateVignettes/landkreise/
localtests/ExampleTests
localtests/contacts.txt
DWDdata/RainfallStationsMap_2.pdf
DWDdata/RainfallStationsMap_nfiles_2.pdf
