.Rproj.user
.Rhistory
.RData
DWDdata/meta
DWDdata/xls_index.xlsx
DWDdata/INDEX_of_DWD_.txt
inst/shinyapps/
misc/ExampleTests
misc/localdata
misc/presentation
misc/contacts.txt
misc/params.txt
misc/params.xlsx
src/rdwd.dll
